
input {
    border: 2px solid #ccc; /* default gray */
    padding: 10px;
    
    margin: 10px ;
}

input.valid{

    border-color: green;
}

input.invalid {
    border-color: red;
}

button {
    padding: 10px;
   
    background: #007bff;
    color: white;
    border: none;
}